@model AutoLotDAL.Models.Inventory
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InventoryList</title>
</head>
<body>
    <div> 
        <div>@Html.DisplayFor(model=> model.Make)  </div>
        <div>@Html.DisplayFor(model=>model.Color)</div>
        <div>@Html.DisplayFor(model=>model.PetName)</div>
        
    </div>
    <div>
        @Html.ActionLink("Edit","Edit",new { id=Model.Id})
        @Html.ActionLink("Details","Details",new { id=Model.Id})
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        
        </div>
</body>
</html>
